* {
    background-color: rgb(75, 75, 75);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-color: rgb(236, 236, 236);
    width: 90%;
    height: 200px;
    margin: 0 auto;
    margin-top: 5vh;
    position: relative;
}

.ator {
    width: 150px;
    height: 150px;
    background-color: rgb(255, 115, 0);
    position: absolute;
    top: 25%;
    border-radius: 100%;
}

/* Atores */

#ator1 {
    animation-name: mover;
    animation-duration: 2s;
}

/*#ator2 {
    animation-name: pular;
    animation-duration: 2s;
    animation-timing-function: linear;
}*/

/*#ator3 {
    animation-name: freiar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}*/

/* Keyframes */

@keyframes mover {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(calc(90vw - 150px));
    }
}

@keyframes pular {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(35vw, -50px);
    }

    100% {
        transform: translate(calc(90vw - 150px), 0);
    }
}

@keyframes freiar {
    to {
        transform: translate(calc(90vw - 150px), 0);
    }
}
